<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Notifications</ion-label>
    <ion-select [(ngModel)]="notifFreq">
      <ion-select-option value="daily">Daily</ion-select-option>
      <ion-select-option value="weekly">Weekly</ion-select-option>
      <ion-select-option value="off">Off</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Show Favourites</ion-label>
    <ion-toggle [(ngModel)]="dataService.showFav"></ion-toggle>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Categories</ion-label>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let cat of allCategories">
      <ion-checkbox 
        slot="start" 
        [checked]="isChecked(cat)"
        (ionChange)="toggleCategory(cat, $event)">
      </ion-checkbox>
      <ion-label>{{ cat }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- debug button to prove values change -->
  <ion-button expand="full" (click)="logSettings()">Log Settings</ion-button>
</ion-content>
